In [77]:
import pandas as pd

# Import MTeams.csv
teams_df = pd.read_csv("MTeams.csv")

# Import MSeasons.csv
seasons_df = pd.read_csv("MSeasons.csv")

# Import MNCAATourneySeeds.csv
seeds_df = pd.read_csv("MNCAATourneySeeds.csv")

# Import MRegularSeasonCompactResults.csv
compact_results_df = pd.read_csv("MRegularSeasonCompactResults.csv")

# Import MRegularSeasonDetailedResults.csv
detailed_results_regular_df = pd.read_csv("MRegularSeasonDetailedResults.csv")

detailed_results_tourney_df = pd.read_csv("MNCAATourneyDetailedResults.csv")
# Import MMasseyOrdinals.csv
massey_ordinals_df = pd.read_csv("MMasseyOrdinals.csv")

# Import MTeamCoaches.csv
team_coaches_df = pd.read_csv("MTeamCoaches.csv")

In [78]:
team_id = teams_df.loc[teams_df["TeamName"].str.contains("Purdue"), "TeamID"].values[0]

print(team_id)

1345

In [79]:
teams_df[teams_df["TeamID"] == team_id]

     TeamID TeamName  FirstD1Season  LastD1Season
244    1345   Purdue           1985          2024

In [87]:
results_df = detailed_results_regular_df[
    (detailed_results_regular_df["WTeamID"] == team_id)
    | (detailed_results_regular_df["LTeamID"] == team_id)
]

In [89]:
coaches_df = team_coaches_df[team_coaches_df["TeamID"] == team_id]

In [88]:
results_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
84,2003,18,1345,73,1275,46,H,0,26,51,...,20,8,14,10,13,9,16,2,1,18
422,2003,26,1345,86,1257,84,N,0,27,61,...,19,28,38,18,25,16,11,5,7,29
566,2003,29,1462,74,1345,59,H,0,27,56,...,13,5,7,9,19,15,15,4,0,15
644,2003,32,1345,85,1292,56,H,0,27,57,...,17,7,16,12,26,13,21,4,2,29
728,2003,33,1345,95,1360,65,H,0,34,65,...,20,11,18,21,24,14,23,8,3,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112662,2024,117,1345,80,1277,74,H,0,25,49,...,21,15,17,11,21,11,7,6,3,25
112788,2024,120,1345,77,1228,71,A,0,29,60,...,16,17,21,10,17,9,12,7,1,15
113035,2024,125,1345,78,1458,70,H,0,26,53,...,24,11,14,7,15,10,8,11,0,19
113200,2024,130,1345,67,1277,62,N,0,22,53,...,18,10,12,13,22,15,13,4,8,29
113234,2024,131,1458,76,1345,75,N,1,32,74,...,16,24,32,9,30,18,15,3,5,17

In [90]:
combined_df = results_df.merge(
    coaches_df[["Season", "CoachName"]], on="Season", how="left"
)

combined_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,CoachName
0,2003,18,1345,73,1275,46,H,0,26,51,...,8,14,10,13,9,16,2,1,18,gene_keady
1,2003,26,1345,86,1257,84,N,0,27,61,...,28,38,18,25,16,11,5,7,29,gene_keady
2,2003,29,1462,74,1345,59,H,0,27,56,...,5,7,9,19,15,15,4,0,15,gene_keady
3,2003,32,1345,85,1292,56,H,0,27,57,...,7,16,12,26,13,21,4,2,29,gene_keady
4,2003,33,1345,95,1360,65,H,0,34,65,...,11,18,21,24,14,23,8,3,18,gene_keady
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,2024,117,1345,80,1277,74,H,0,25,49,...,15,17,11,21,11,7,6,3,25,matt_painter
693,2024,120,1345,77,1228,71,A,0,29,60,...,17,21,10,17,9,12,7,1,15,matt_painter
694,2024,125,1345,78,1458,70,H,0,26,53,...,11,14,7,15,10,8,11,0,19,matt_painter
695,2024,130,1345,67,1277,62,N,0,22,53,...,10,12,13,22,15,13,4,8,29,matt_painter
696,2024,131,1458,76,1345,75,N,1,32,74,...,24,32,9,30,18,15,3,5,17,matt_painter

In [91]:
combined_df["CoachName"].value_counts()

CoachName
matt_painter    611
gene_keady       86
Name: count, dtype: int64

In [94]:
import pandas as pd

# Assuming combined_df is your existing DataFrame
# Create an empty list to store dictionaries
data = []

# Filter rows where WTeamID or LTeamID is team_id
team_id_df = combined_df[
    (combined_df["WTeamID"] == team_id) | (combined_df["LTeamID"] == team_id)
]

# Iterate over each row
for index, row in team_id_df.iterrows():
    if row["WTeamID"] == 1421:
        # Store values of columns starting with 'W' and rename them
        values = {
            col[1:]: row[col] for col in team_id_df.columns if col.startswith("W")
        }
        # Add coach name column
        values["CoachName"] = row["CoachName"]
    else:
        # Store values of columns starting with 'L' and rename them
        values = {
            col[1:]: row[col] for col in team_id_df.columns if col.startswith("L")
        }
        # Add coach name column
        values["CoachName"] = row["CoachName"]

    # Append the values to the list
    data.append(values)

# Create a new DataFrame from the list of dictionaries
new_df = pd.DataFrame(data)

In [95]:
new_df.head()

,TeamID,Score,FGM,FGA,FGM3,FGA3,FTM,FTA,OR,DR,Ast,TO,Stl,Blk,PF,CoachName
0,1275,46,17,50,4,20,8,14,10,13,9,16,2,1,18,gene_keady
1,1257,84,26,67,4,19,28,38,18,25,16,11,5,7,29,gene_keady
2,1345,59,25,60,4,13,5,7,9,19,15,15,4,0,15,gene_keady
3,1292,56,21,57,7,17,7,16,12,26,13,21,4,2,29,gene_keady
4,1360,65,25,65,4,20,11,18,21,24,14,23,8,3,18,gene_keady

In [9]:
# Import the necessary libraries
from sklearn.preprocessing import OneHotEncoder

# Create an instance of the OneHotEncoder
encoder = OneHotEncoder(sparse=False)

# Reshape the CoachName column to a 2D array
coach_names = new_df["CoachName"].values.reshape(-1, 1)

# Encode the CoachName column using one-hot encoding
coach_names_encoded = encoder.fit_transform(coach_names)

# Create a DataFrame from the encoded CoachName column
coach_names_encoded_df = pd.DataFrame(
    coach_names_encoded, columns=encoder.categories_[0]
)

# Concatenate the encoded CoachName DataFrame with the original combined_df
combined_df_encoded = pd.concat([new_df, coach_names_encoded_df], axis=1)

# Remove the original CoachName column from the combined_df_encoded
combined_df_encoded.drop("CoachName", axis=1, inplace=True)

c:\Users\ayush\miniconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [96]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import uniform
import time
from tqdm import tqdm
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

X = new_df.select_dtypes(include="number")

# Assign the 'CoachName' column as the target variable
y = new_df["CoachName"]
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y_train)

# Create a decision tree classifier
dt_model = DecisionTreeClassifier(random_state=42)

param_dist = {
    "max_depth": [3, 5, 7, 9],
    "min_samples_split": [2, 5, 10],
    "min_samples_leaf": [1, 2, 4],
    "criterion": ["gini", "entropy"],
}


# Create a randomized search object
random_search_dt = RandomizedSearchCV(
    estimator=dt_model,
    param_distributions=param_dist,
    n_iter=100,
    cv=5,
    n_jobs=-1,
    random_state=42,
)

# Start timing
start_time = time.time()

# Perform randomized search to find the best parameters
with tqdm(total=random_search_dt.n_iter, desc="Parameter optimization") as pbar:
    random_search_dt.fit(X_train, y_encoded)
    pbar.update(1)

# End timing
end_time = time.time()
total_time = end_time - start_time

# Print the best parameters found
print("Best parameters:", random_search_dt.best_params_)

# Get the best model
best_model_dt = random_search_dt.best_estimator_

# Make predictions on the testing data using the best model
y_pred_dt = best_model_dt.predict(X_test)

# Decode the predicted labels back to their original form
y_pred_decoded_dt = label_encoder.inverse_transform(y_pred_dt)

# Calculate the accuracy of the best model
accuracy_dt = accuracy_score(y_test, y_pred_decoded_dt)
print("Accuracy:", accuracy_dt)
print("Total time for tuning and modeling:", total_time, "seconds")

importance_scores = best_model_dt.feature_importances_

Parameter optimization:   0%|          | 0/100 [00:00<?, ?it/s]c:\Users\ayush\miniconda3\Lib\site-packages\sklearn\model_selection\_search.py:307: UserWarning: The total space of parameters 72 is smaller than n_iter=100. Running 72 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(
Parameter optimization:   1%|          | 1/100 [00:09<15:00,  9.09s/it]

Best parameters: {'min_samples_split': 10, 'min_samples_leaf': 4, 'max_depth': 3, 'criterion': 'entropy'}
Accuracy: 0.8214285714285714
Total time for tuning and modeling: 9.098647117614746 seconds

In [98]:
from sklearn.tree import DecisionTreeClassifier

importance_scores
# Create a DecisionTreeClassifier object
clf = DecisionTreeClassifier()

# Fit the model on your data
clf.fit(X, y)

# Get the feature importances
importances = clf.feature_importances_

# Create a dictionary of feature names and their importances
feature_importances = dict(zip(X.columns, importance_scores))

# Sort the features by importance in descending order
sorted_features = sorted(feature_importances.items(), key=lambda x: x[1], reverse=True)

# Print the sorted features
for feature, importance in sorted_features:
    print(f"{feature}: {importance}")

FGA3: 0.4613343579031037
TO: 0.31744726360432834
Blk: 0.1529393434825646
Score: 0.06827903501000342
TeamID: 0.0
FGM: 0.0
FGA: 0.0
FGM3: 0.0
FTM: 0.0
FTA: 0.0
OR: 0.0
DR: 0.0
Ast: 0.0
Stl: 0.0
PF: 0.0